{% extends 'base.html' %}
{% block title %}Order Summary{% endblock %}

{% block content %}
<h2>Order Summary</h2>
{% load custom_filters %}

<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>₹{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item|subtotal }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Total: ₹{{ total }}</h4>

<a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
{% endblock %}